{% extends 'base.html' %}
{% block content %}
 <style>
   

.container.gallery-container {
    background-color: #fff;
    color: #35373a;
    min-height: 100vh;
    border-radius: 20px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.06);
}

.gallery-container h1 {
    text-align: center;
    margin-top: 70px;
    font-family: 'Droid Sans', sans-serif;
    font-weight: bold;
}

.gallery-container p.page-description {
    text-align: center;
    max-width: 800px;
    margin: 25px auto;
    color: #888;
    font-size: 18px;
}

.tz-gallery {
    padding: 40px;
}

.tz-gallery .lightbox img {
    width: 100%;
    margin-bottom: 30px;
    transition: 0.2s ease-in-out;
    box-shadow: 0 2px 3px rgba(0,0,0,0.2);
}


.tz-gallery .lightbox img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 15px rgba(0,0,0,0.3);
}

.tz-gallery img {
    border-radius: 4px;
}

.baguetteBox-button {
    background-color: transparent !important;
}


@media(max-width: 768px) {
    body {
        padding: 0;
    }

    .container.gallery-container {
        border-radius: 0;
    }
}
</style> 

<div class="container gallery-container">

    <h1>Gallery</h1>
   
    <p class="page-description text-center">{{object.title}}</p>
    {% if object.author == user %}
    <a
      class="btn btn-secondary btn-sm mt-1 mb-1"
      href="{% url 'album-update' object.id %}"
      >Update</a
    >
    <a
      class="btn btn-danger btn-sm mt-1 mb-1"
      href="{% url 'post-delete' object.id %}"
      >Delete</a
    >
    {% endif %}
    <div class="tz-gallery">

        <div class="row">
            {% if object.image %}
            <div class="col-sm-6 col-md-4">
                <a class="lightbox" href="{{object.image.url}}">
                    <img src="{{object.image.url}}" alt="Park">
                </a>
            </div>
            {% endif %}
            {% if object.image2 %}
            <div class="col-sm-6 col-md-4">
                <a class="lightbox" href="{{object.image2.url}}">
                    <img src="{{object.image2.url}}" alt="Bridge">
                </a>
            </div>
            {% endif %}
            {% if object.image3 %}
            <div class="col-sm-6 col-md-4">
                <a class="lightbox" href="{{object.image3.url}}">
                    <img src="{{object.image3.url}}" alt="Bridge">
                </a>
            </div>
            {% endif %}
            {% if object.image4 %}
            <div class="col-sm-6 col-md-4">
                <a class="lightbox" href="{{object.image4.url}}">
                    <img src="{{object.image4.url}}" alt="Bridge">
                </a>
            </div>
            {% endif %}
            {% if object.image5 %}
            <div class="col-sm-6 col-md-4">
                <a class="lightbox" href="{{object.image5.url}}">
                    <img src="{{object.image5.url}}" alt="Bridge">
                </a>
            </div>
            {% endif %}
            {% if object.image6 %}
            <div class="col-sm-6 col-md-4">
                <a class="lightbox" href="{{object.image6.url}}">
                    <img src="{{object.image6.url}}" alt="Bridge">
                </a>
            </div>
            {% endif %}
            {% if object.image7 %}
            <div class="col-sm-6 col-md-4">
                <a class="lightbox" href="{{object.image7.url}}">
                    <img src="{{object.image7.url}}" alt="Bridge">
                </a>
            </div>
            {% endif %}
            {% if object.image8%}
            <div class="col-sm-6 col-md-4">
                <a class="lightbox" href="{{object.image8.url}}">
                    <img src="{{object.image8.url}}" alt="Bridge">
                </a>
            </div>
            {% endif %}
            {% if object.image9 %}
            <div class="col-sm-6 col-md-4">
                <a class="lightbox" href="{{object.image9.url}}">
                    <img src="{{object.image9.url}}" alt="Bridge">
                </a>
            </div>
            {% endif %}
        </div>

    </div>

</div>


{% endblock content %}