{% extends 'base.html' %}
{% block content %}

<style>
    a{
        text-decoration: none;
        color: black;
    }
</style>
<div class="content-section container mt-5">
    
    <div class="row row-cols-1 row-cols-md-2 g-4 ">
        {% for posts in posts %}
        <div class="col">
          <div class="card h-100">
            <div class="card-body">
                
                <a class="mr-2 card-title" href="{% url 'user-posts' posts.author.username %}">Album by {{ posts.author }}</a>
              </div>
              <a href="{% url 'post-detail' posts.id %}">
            <img style="height: 500px;width: 635px;" src="{{posts.cover_image.url}}" class="card-img-top" alt="..."></a>
            <div class="card-body">
              <a href="{% url 'post-detail' posts.id %}"><h5 class="card-title">{{posts.title}}</h5></a>
              
            
            </div>
           
            <div class="card-footer">
              <small class="text-muted">{{ posts.date_posted|date:"F d, Y" }}</small>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>

{% endblock %}